
/*Pagina index*/

body{
    background-color:rgb(249, 238, 225) ;
}

header {
    background-color: black;
    color: rgb(230, 187, 131);
    height: 100px;
}

.header1 {
    height: 20px;
    padding: 40px;
}



 .header1 nav {
text-align: center;


} 





.header1 nav a {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    text-align: center;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(230, 191, 140);
}

.container{
    color: black;
    text-align: center;
}

.row{
    text-align: center;
}

.img{
    text-align: center;
}

footer{
    background-color: black;
    color: rgb(214, 154, 76);
    text-align: center;
    padding: 15px;
}

/*Pagina de perfume*/

.img2{
    text-align: center;
}

.figca{
    color: black;
}

/*Formulario*/

.sec{
    text-align: center;
}

input{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 250px;
height: 20px;
    color: black;
    background-color: rgb(235, 204, 163);
    border-radius: 6px;
}

h6{
    font-size: 25px;
}


.feed{
    width: 280px;
height: 25px;
}